<html>
    <head>
        <title>Teste Republica Virtual</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <section class="form">
            <form action="/resposta" method="post">
                <h2>Formulário</h2>
                <label for="cepval">Digite seu CEP</label>
                <input type="text" id="cepval" name="txtcep" placeholder="00000-000" /><br/>
                <input type="submit" value="enviar" />
            </form>
        </section>
        <small>Essa página deliberadamente está muito simples para focarmos somente na parte server side.</small>
    </body>
</html>
