<html>
    <head>
        <title>Teste Republica Virtual</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <nav><a href="/">Voltar</a></nav>
        <small>Essa página deliberadamente está muito simples para focarmos somente na parte server side.</small>
    </body>
</html>
